  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  .body-login {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
  }
  .body-login ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
  }
  .body-login :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
  }
  .body-login ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
  }
  .body-login :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
  }
  .wrapper {
    background: #50a3a2     ;
    background: -webkit-linear-gradient(top left, #50a3a2      0%, #53e3a6      100%);
    background: linear-gradient(to bottom right, #50a3a2      0%, #53e3a6      100%);
    width: 100%;
    min-height: 100%;
    /*background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    width: 100%;
    height: 100%;*/
    /*overflow: hidden;*/
  }
  .wrapper.form-success .container-login h1 {
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
  }
  .container-login {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
  }
  .container-login h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
            transition-timing-function: ease-in-put;
    font-weight: 200;
  }

  .wrapper.form-success .container-info h1 {
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
  }
  .container-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
  }

  .container-info h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
            transition-timing-function: ease-in-put;
    font-weight: 200;
    margin-top: 10%;
  }

  form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
  }
  form input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
  }
  form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
  }
  form button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  form button:hover {
    background-color: #f5f7f9;
  }
  .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  .bg-bubbles li:nth-child(1) {
    left: 10%;
  }
  .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 17s;
            animation-duration: 17s;
  }
  .bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
            animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .bg-bubbles li:nth-child(5) {
    left: 70%;
  }
  .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
  }
  .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
    }
  }
  
  @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
  @import url(http://weloveiconfonts.com/api/?family=entypo);
  /* entypo */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .body {
    background: #f5f5f5;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.004);
    font-size: 100%;
    font-weight: 400;
  }
  
  .surveys {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .survey-item {
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
  }
  
  .survey-name {
    font-weight: 400;
  }
  
  .list .survey-item {
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
  }
  .list .survey-item .pull-right {
    position: absolute;
    right: 0;
    top: 0;
  }
  @media screen and (max-width: 800px) {
    .list .survey-item .stage:not(.active) {
      display: none;
    }
  }
  @media screen and (max-width: 700px) {
    .list .survey-item .survey-progress-bg {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .list .survey-item .pull-right {
      position: static;
      line-height: 20px;
      padding-bottom: 10px;
    }
  }
  .list .survey-country,
  .list .survey-progress,
  .list .survey-completes,
  .list .survey-end-date {
    color: #A1A1A4;
  }
  .list .survey-country,
  .list .survey-completes,
  .list .survey-end-date,
  .list .survey-name,
  .list .survey-stage {
    margin: 0 10px;
  }
  .list .survey-country {
    margin-right: 0;
  }
  .list .survey-end-date,
  .list .survey-completes,
  .list .survey-country,
  .list .survey-name {
    vertical-align: middle;
  }
  .list .survey-end-date {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .survey-stage .stage {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 2px;
    background: #f2f2f2;
    text-indent: -9999px;
    color: transparent;
    line-height: 16px;
  }
  .survey-stage .stage.active {
    background: #50a3a2;
  }
  
  .list .list-only {
    display: auto;
  }
  .list .grid-only {
    display: none !important;
  }
  
  .grid .grid-only {
    display: auto;
  }
  .grid .list-only {
    display: none !important;
  }
  
  .grid .survey-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 250px;
    margin: 10px;
    margin-left: 11%;
    margin-top: 3%;
  }
  @media screen and (max-width: 600px) {
    .grid .survey-item {
      display: block;
      width: auto;
      height: 150px;
      margin: 10px auto;
    }
  }
  .grid .survey-name {
    display: block;
    max-width: 80%;
    font-size: 16px;
    line-height: 20px;
  }
  .grid .survey-country {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .grid .survey-country:before {
    content: 'Quedan\00a0';
  }
  .grid .survey-country:after {
    content: '\00a0unidades';
  }
  .grid .survey-country,
  .grid .survey-end-date {
    color: #A1A1A4;
  }
  .grid .survey-end-date:before {
    content: 'Precio\00a0';
  }
  .grid .survey-end-date:after {
    content: '€';
  }
  .grid .survey-end-date.ended:before {
    content: 'Ended\00a0';
  }
  .grid .survey-progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
  }
  .grid .survey-progress-bg {
    width: 40%;
    display: block;
  }
  @media screen and (max-width: 200px) {
    .grid .survey-progress-bg {
      display: none;
    }
  }
  .grid .survey-progress-labels {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 40px;
    width: 90%;
  }
  .glyphicon-card {
    color: #50a3a2;
    margin-left: 12%;
  }
  @media screen and (max-width: 200px) {
    .grid .survey-progress-labels {
      right: auto;
      left: 10px;
    }
  }
  .grid .survey-progress-label {
    line-height: 21px;
    font-size: 13px;
    font-weight: 400;
  }
  .grid .survey-completes {
    line-height: 21px;
    font-size: 13px;
    vertical-align: middle;
  }
  .grid .survey-stage {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .grid .survey-stage .stage {
    display: none;
  }
  .grid .survey-stage .active {
    display: block;
  }
  .grid .survey-end-date {
    font-size: 12px;
    line-height: 20px;
  }
  
  .survey-progress-bg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #eee;
  }
  